.palindrome {
    font-family:'Times New Roman', Times, serif;
    color: rgb(88, 52, 5);
    background-color:rgb(185, 181, 240);
    max-width: 300px;
    margin: 0 auto;
    border-radius: 10px;
    height: auto;
    padding-top: 5px;
    margin-top: 200px;
    padding-bottom: 15px;
}

h1 {
    text-align: center;
}

.click {
    text-align: center;
}

.btn {
    margin-top: 10px;
    height: 30px;
}

.text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    color: rgb(88, 52, 5);
    text-align: center;
    margin-top: 20px;
}